In [1]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\User\Desktop\py\owid-covid-data.csv")

In [4]:
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153167,ZWE,Africa,Zimbabwe,2022-01-04,217678.0,1591.0,1447.143,5078.0,31.0,19.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
153168,ZWE,Africa,Zimbabwe,2022-01-05,219057.0,1379.0,1644.143,5092.0,14.0,21.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
153169,ZWE,Africa,Zimbabwe,2022-01-06,220178.0,1121.0,1207.143,5108.0,16.0,15.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
153170,ZWE,Africa,Zimbabwe,2022-01-07,221282.0,1104.0,1146.286,5136.0,28.0,18.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
153171,ZWE,Africa,Zimbabwe,2022-01-08,221918.0,636.0,1100.571,5148.0,12.0,18.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [5]:
data.count()

iso_code                                   153172
continent                                  143944
location                                   153172
date                                       153172
total_cases                                150522
                                            ...
human_development_index                    125712
excess_mortality_cumulative_absolute         5234
excess_mortality_cumulative                  5234
excess_mortality                             5234
excess_mortality_cumulative_per_million      5234
Length: 67, dtype: int64

In [7]:
data.isnull().sum()

iso_code                                        0
continent                                    9228
location                                        0
date                                            0
total_cases                                  2650
                                            ...
human_development_index                     27460
excess_mortality_cumulative_absolute       147938
excess_mortality_cumulative                147938
excess_mortality                           147938
excess_mortality_cumulative_per_million    147938
Length: 67, dtype: int64

In [8]:
import seaborn as sns

In [10]:
import matplotlib.pyplot as plt

In [12]:
 data.head(2)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [13]:
data.groupby('continent').sum()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
continent,,,,,,,,,,,,,,,,,,,,,
Africa,2.593843e+09,10045529.0,9.886533e+06,65860961.0,230064.0,229028.659,2.248172e+08,1024321.203,986867.441,3.670997e+06,...,61695.6,656213.2,740726.260,40085.140,2339515.02,19758.403,10648561.6,1162.47,2694.49,1.438864e+05
Asia,2.247444e+10,85558432.0,8.465005e+07,337959627.0,1259965.0,1254561.241,6.281646e+08,2464758.488,2436146.421,6.484948e+06,...,125220.2,1035885.2,1228569.898,87232.670,2482950.64,23525.612,12829880.3,5603.44,10854.48,3.389680e+05
Europe,2.106757e+10,96717312.0,9.315243e+07,470835910.0,1552096.0,1543032.589,1.642196e+09,7695789.242,7375617.992,2.890306e+07,...,643883.7,977548.7,190777.665,152477.501,2627995.27,25431.838,57388985.5,18223.88,39656.89,2.758275e+06
North America,1.822898e+10,70534061.0,6.818195e+07,410889747.0,1231352.0,1225155.658,5.010065e+08,2869294.765,2672748.691,7.978881e+06,...,62267.5,182238.9,680102.453,35792.200,1757817.14,11732.446,71304113.4,5385.64,9794.91,4.199480e+05
Oceania,6.893703e+07,1140876.0,8.687798e+05,925814.0,4642.0,4577.541,7.008991e+07,359887.481,346528.315,8.489807e+05,...,69210.3,145147.8,63143.761,10507.170,591060.00,3999.187,-290276.0,-571.53,-25.40,-3.725258e+04
South America,1.268110e+10,40621020.0,4.009005e+07,398391054.0,1181153.0,1180204.105,2.713723e+08,982931.498,957021.138,8.605445e+06,...,68035.7,134997.2,266057.728,17143.100,669318.69,6273.093,30261860.5,17361.86,21688.57,8.661793e+05

In [14]:
data.groupby('continent')['total_deaths'].sum().sort_values(ascending = False)

continent
Europe           470835910.0
North America    410889747.0
South America    398391054.0
Asia             337959627.0
Africa            65860961.0
Oceania             925814.0
Name: total_deaths, dtype: float64

In [18]:
data.groupby('continent')['total_cases'].sum().sort_values(ascending = False)

continent
Asia             2.247444e+10
Europe           2.106757e+10
North America    1.822898e+10
South America    1.268110e+10
Africa           2.593843e+09
Oceania          6.893703e+07
Name: total_cases, dtype: float64

In [19]:
data.groupby('continent')['male_smokers'].sum().sort_values(ascending = False)

continent
Asia             1035885.2
Europe            977548.7
Africa            656213.2
North America     182238.9
Oceania           145147.8
South America     134997.2
Name: male_smokers, dtype: float64

In [20]:
data.groupby('continent')['hospital_beds_per_thousand'].sum().sort_values(ascending = False)

continent
Europe           152477.501
Asia              87232.670
Africa            40085.140
North America     35792.200
South America     17143.100
Oceania           10507.170
Name: hospital_beds_per_thousand, dtype: float64

In [21]:
data.groupby('continent')['female_smokers'].sum().sort_values(ascending = False)

continent
Europe           643883.7
Asia             125220.2
Oceania           69210.3
South America     68035.7
North America     62267.5
Africa            61695.6
Name: female_smokers, dtype: float64